In [16]:
# Import necessary libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Define URL
url = "https://www.ssa.gov/oact/STATS/table4c6.html"

# Send HTTP request to URL
response = requests.get(url)

# Parse HTML response
soup = BeautifulSoup(response.text, 'html.parser')

# Find the table on the webpage
table = soup.find_all('table')[0] 

# Parse the table into a pandas DataFrame with a MultiIndex header
df = pd.read_html(str(table), header=[0, 1])[0]

# Drop the last row
df = df.drop(df.tail(1).index)

# Print the DataFrame
df

    Exact  age                 Male                                      \
    Exact  age Death  probability a Number of  lives b Life  expectancy
0            0             0.005837             100000            74.12
1            1             0.000410              99416            73.55
2            2             0.000254              99376            72.58
3            3             0.000207              99350            71.60
4            4             0.000167              99330            70.62
..         ...                  ...                ...              ...
115        115             0.800319                  0             0.74
116        116             0.840335                  0             0.68
117        117             0.882352                  0             0.63
118        118             0.926469                  0             0.58
119        119             0.972793                  0             0.53

                  Female
    Death  probability a Number of  lives b Life  expectancy
0               0.004907             100000            79.78
1               0.000316              99509            79.17
2               0.000196              99478            78.19
3               0.000160              99458            77.21
4               0.000129              99442            76.22
..                   ...                ...              ...
115             0.799516                  0             0.74
116             0.840335                  0             0.68
117             0.882352                  0             0.63
118             0.926469                  0             0.58
119             0.972793                  0             0.53

[120 rows x 7 columns]