In [1]:
import os
import pandas as pd
import numpy as np
from pandasql import sqldf

In [2]:
# Loading in the data
df = pd.read_csv('synthea_medication_data.csv')
# Limiting the columns to the ones we need
# df = df[['PATIENT', 'MEDDESCRIPTION', 'BASE_COST', 'REASONDESCRIPTION']]
# Displaying the top 3 records
df.head(3)

,START,STOP,PATIENT,PAYER,ENCOUNTER,CODE,MEDDESCRIPTION,BASE_COST,PAYER_COVERAGE,DISPENSES,TOTALCOST,REASONCODE,REASONDESCRIPTION
0,1979-05-13 00:00:00+00:00,1980-05-18 00:00:00+00:00,487474a8-8433-4fa8-a12b-31f66b2d981a,047f6ec3-6215-35eb-9608-f9dda363a44c,61ecb1a4-0043-4b90-a592-80a89750d591,999967,amLODIPine 5 MG / Hydrochlorothiazide 12.5 MG ...,263.49,0.0,12.0,3161.88,59621000.0,Hypertension
1,1980-05-18 00:00:00+00:00,1981-05-24 00:00:00+00:00,487474a8-8433-4fa8-a12b-31f66b2d981a,047f6ec3-6215-35eb-9608-f9dda363a44c,eebad44d-44f5-45fa-baba-1f511db41ddc,999967,amLODIPine 5 MG / Hydrochlorothiazide 12.5 MG ...,263.49,0.0,12.0,3161.88,59621000.0,Hypertension
2,1981-05-24 00:00:00+00:00,1982-05-30 00:00:00+00:00,487474a8-8433-4fa8-a12b-31f66b2d981a,047f6ec3-6215-35eb-9608-f9dda363a44c,15678fe9-dacc-41b3-b9dd-0c54d4473442,999967,amLODIPine 5 MG / Hydrochlorothiazide 12.5 MG ...,263.49,0.0,12.0,3161.88,59621000.0,Hypertension

In [3]:
# Selecting the first 3 records of the patient column
df['PATIENT'].head(3)

0    487474a8-8433-4fa8-a12b-31f66b2d981a
1    487474a8-8433-4fa8-a12b-31f66b2d981a
2    487474a8-8433-4fa8-a12b-31f66b2d981a
Name: PATIENT, dtype: object

In [4]:
# Getting the count of people with a particular affliction and sorting by most frequent
df.where(df["REASONDESCRIPTION"].notnull()).groupby("REASONDESCRIPTION")["PATIENT"].count().sort_values(ascending=False).head(3)

REASONDESCRIPTION
Hypertension        3174
Diabetes            2732
Childhood asthma    1356
Name: PATIENT, dtype: int64

In [5]:
# Demonstrating the use of pandasql and SQL in Pandas
sqldf('select REASONDESCRIPTION, count(PATIENT) from df where REASONDESCRIPTION IS NOT NULL GROUP BY REASONDESCRIPTION ORDER BY count(PATIENT) DESC')
# df

ObjectNotExecutableError: Not an executable object: 'select REASONDESCRIPTION, count(PATIENT) from df where REASONDESCRIPTION IS NOT NULL GROUP BY REASONDESCRIPTION ORDER BY count(PATIENT) DESC'

In [39]:
df[df['PATIENT'] == '05263cc0-8f93-4982-a2ee-c16ed99b8572']

,PATIENT,DESCRIPTION,BASE_COST,REASONDESCRIPTION
6122,06809983-02a4-4307-ad13-7815750e3efa,24 HR Metformin hydrochloride 500 MG Extended ...,420.52,Diabetes
6123,06809983-02a4-4307-ad13-7815750e3efa,24 HR Metformin hydrochloride 500 MG Extended ...,47.73,Diabetes
6124,06809983-02a4-4307-ad13-7815750e3efa,24 HR Metformin hydrochloride 500 MG Extended ...,90.53,Diabetes
6125,06809983-02a4-4307-ad13-7815750e3efa,24 HR Metformin hydrochloride 500 MG Extended ...,63.22,Diabetes
6126,06809983-02a4-4307-ad13-7815750e3efa,24 HR Metformin hydrochloride 500 MG Extended ...,391.03,Diabetes
...,...,...,...,...
6371,06809983-02a4-4307-ad13-7815750e3efa,24 HR Metformin hydrochloride 500 MG Extended ...,148.46,Diabetes
6372,06809983-02a4-4307-ad13-7815750e3efa,insulin human isophane 70 UNT/ML / Regular In...,681.90,Diabetes
6373,06809983-02a4-4307-ad13-7815750e3efa,24 HR Metformin hydrochloride 500 MG Extended ...,422.13,Diabetes
6374,06809983-02a4-4307-ad13-7815750e3efa,insulin human isophane 70 UNT/ML / Regular In...,892.57,Diabetes
6375,06809983-02a4-4307-ad13-7815750e3efa,24 HR Metformin hydrochloride 500 MG Extended ...,362.43,Diabetes

In [1]:
df.count()

NameError: name 'df' is not defined

In [16]:
df['REASONDESCRIPTION'].value_counts()

Hypertension                                                             3174
Diabetes                                                                 2732
Childhood asthma                                                         1356
Hyperlipidemia                                                            574
Pulmonary emphysema (disorder)                                             87
Chronic obstructive bronchitis (disorder)                                  73
Primary small cell malignant neoplasm of lung  TNM stage 1 (disorder)      60
Non-small cell carcinoma of lung  TNM stage 1 (disorder)                   44
Asthma                                                                     38
Chronic congestive heart failure (disorder)                                33
Hypoxemia (disorder)                                                       22
Osteoarthritis of knee                                                     18
Acute pulmonary embolism (disorder)                                        16
Acute bronchitis (disorder)                                                14
Acute deep venous thrombosis (disorder)                                    12
Viral sinusitis (disorder)                                                  9
Alzheimer's disease (disorder)                                              7
Septic shock (disorder)                                                     6
Escherichia coli urinary tract infection                                    6
Contact dermatitis                                                          5
Major depression  single episode                                            4
COVID-19                                                                    3
Posttraumatic stress disorder                                               3
Streptococcal sore throat (disorder)                                        3
Osteoarthritis of hip                                                       2
Cystitis                                                                    2
Secondary malignant neoplasm of colon                                       2
Gout                                                                        2
Primary fibromyalgia syndrome                                               1
Malignant neoplasm of breast (disorder)                                     1
Child attention deficit disorder                                            1
Sinusitis (disorder)                                                        1
Familial Alzheimer's disease of early onset (disorder)                      1
Name: REASONDESCRIPTION, dtype: int64